{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .pic
    {
    background:url("{% static 'images/r2.jpg'%}");
    background-size:100% 100%;
    min-height:500px;
    }
    .login
    {
    min-height:250px;
    background:white;
    margin-top:40px;
    margin-bottom:40px;
    border-radius:20px;
    }
</style>
<div class="fs-2 text-center"><u><b class="text-dark">Login </b></u><b class="text-ocolor">Here</b>
    <i class="fa-solid fa-key text-ocolor fa-spin"></i><br/>
<p style="text-align:center;color:black;font-size:15px;">Hello, Welcome To Fav Cart India....</p>
</div>
<div class="row pic mb-2">
<div class="col-sm-4"></div>
<div class="col-sm-4 login"style="width:500px;">
     <div class="fs-2 text-center  my-4"><b class="text-dark"> Welcome... </b></div>
       <form method="post">
         {% csrf_token %}
           <h5 class="fs-4 my-3"><i class="fa-solid fa-user"></i>Username :</h5>
           <input type="email" placeholder="Enter Your Email.." class="form-control py-3 my-3 "required name="email"><br/>
          <h5 class="fs-4 "><i class="fa-solid fa-lock"></i>Password :</h5>
           <input type="password" placeholder="Enter Your Password.." class="form-control py-3"required name="passwd"><br/>
           <center><input type="submit" style="width:200px;" class="btn bg-bcolor text-ocolor" value="Login"/><br/>
               <p class="fs-5">Create Our Acount..<a href="/user/signup/"style="text-decoration:none;">Click Here..</a></p></center>
       </form>
</div>
<div class="col-sm-4"></div>
</div>

{% endblock %}
